[user]
    name = SheffeyG
    email = 57262511+SheffeyG@users.noreply.github.com
    signingkey = 068680527A960DCE

[core]
    autocrlf = input

[init]
    defaultBranch = main

[commit]
    gpgsign = true

[merge]
    tool = nvim

[mergetool]
    prompt = false
    keepBackup = false

[mergetool "nvim"]
    cmd = nvim -c DiffviewOpen

[mergetool "vscode"]
    cmd = code --wait $MERGED

[rebase]
    autostash = true

[pull]
    rebase = true

; [url "git@github.com:"]
;     insteadOf = https://github.com/
