[user]
    name = sheffey
    email = 57262511+SheffeyG@users.noreply.github.com

[core]
    autocrlf = input

[init]
    defaultBranch = main 

[merge]
    tool = nvim-diffview

[mergetool "nvim-diffview"]
    cmd = "nvim -c 'DiffviewOpen'"
    prompt = false

[pull]
    rebase = true

; [url "git@github.com:"]
;     insteadOf = https://github.com/
