//------------------------------------------------
// https://yalter.github.io/niri
//------------------------------------------------

input {
    workspace-auto-back-and-forth

    touchpad {
        tap
        drag true
        natural-scroll
        accel-speed 0.2
    }
}

layout {
    gaps 8
    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        width 1
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/screenshots/%Y-%m-%d_%H-%M-%S.png"


//------------------------------------------------
// Spawn sub processes with environment
//------------------------------------------------

environment {
    XMODIFIERS "@im=fcitx"
    QT_IM_MODULE "fcitx"
    SDL_IM_MODULE "fcitx"
}

spawn-at-startup "fcitx5"
spawn-at-startup "mako"
// spawn-at-startup "waybar"
spawn-sh-at-startup "swaybg -m fill -i ~/wallpaper.png"
spawn-sh-at-startup "swayidle -w timeout 601 'niri msg action power-off-monitors' timeout 600 'swaylock -f' before-sleep 'swaylock -f'"


//------------------------------------------------
// Window rules & layout rules
//------------------------------------------------

window-rule {
    opacity 0.9
    geometry-corner-radius 0
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match app-id="imv"
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.5; }
    opacity 1.0
    focus-ring {
        off
    }
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}

layer-rule {
    match namespace=r#"^way-edges-widget"#
    opacity 0.9
}


//------------------------------------------------
// Key bindings
//------------------------------------------------

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Backslash hotkey-overlay-title="Open Terminal" { spawn "alacritty"; }
    Mod+N         hotkey-overlay-title="Application Launcher" { spawn "fuzzel"; }
    Mod+Space     hotkey-overlay-title="Application Launcher" { spawn "fuzzel"; }
    Super+Alt+L   hotkey-overlay-title="Lock Screen"  { spawn "swaylock"; }

    XF86AudioMute         allow-when-locked=true { spawn "wpctl" "set-mute"   "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioRaiseVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-right; }

    Mod+Ctrl+H { move-column-left; }
    Mod+Ctrl+J { move-window-down; }
    Mod+Ctrl+K { move-window-up; }
    Mod+Ctrl+L { move-column-right; }
    Mod+Ctrl+N { move-column-to-workspace-down; }
    Mod+Ctrl+P { move-column-to-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Switch between columns and bottom.
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+O repeat=false { toggle-overview; }
    Mod+X repeat=false { close-window; }
    Mod+R { switch-preset-column-width; }
    Mod+C { center-column; }
    Mod+M { maximize-column; }
    Mod+F { fullscreen-window; }
    Mod+V { toggle-window-floating; }
    Mod+W { toggle-column-tabbed-display; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
