@define-color foreground #dddddd;
@define-color foreground-inactive #999999;
@define-color background rgba(10, 10, 10, 0.7);

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: none;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

/* Remove predefined hover style */
#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
    border: none;
}

#clock,
#memory,
#idle_inhibitor,
#custom-platform-profile {
    padding-left: 0.7em
}

#network,
#temperature,
#wireplumber,
#battery,
#language,
#bluetooth {
    padding-right: 0.7em
}
