@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background rgba(17, 17, 27, 0.8);

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#clock {
#memory,
#custom-platform-profile {
    padding-left: 1em
}

#workspaces button {
    color: @foreground;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: none;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

/* Remove predefined hover style */
#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
    border: none;
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray {
    padding-right: 1em
}
