@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background rgba(17, 17, 27, 0.8);

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.7em;
    border: none;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button:hover {
    box-shadow: none; /* Remove predefined box-shadow */
    text-shadow: none; /* Remove predefined text-shadow */
    background: none; /* Remove predefined background color (white) */
    transition: none; /* Disable predefined animations */
    border: none; /* Disable predefined border-color */
}

#memory,
#custom-platform-profile {
    padding-left: 1em
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray {
    padding-right: 1em
}
